@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    color: mediumslateblue;
}
label{
    width: 100px;
}
.error{
    display: none;
}
.exp-alert{
    display: none;
}
.saving{
    width: 300px;
    margin: auto;
}

.btn{
    /* font-weight: bold !important; */
}
